@import '/src/styles/variables/colors'
@import '/src/styles/variables/breakpoints'
    
.authorization 
    .welcome 
        display: none
    
    .wave 
        display: none

    @media (min-width: $tablet)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        min-height: 100vh
        position: relative

        padding: 8.125rem 5.75rem

        background: rgb(142,197,252)
        background: linear-gradient(90deg, rgba(142,197,252,1) 0%, rgba(224,195,252,1) 100%)

        .authenticationForms 
            max-width: 430px
            flex: 1

            display: flex 
            flex-flow: column

            background: $c1

            border: 1px solid #ddd
            border-radius: 4px

            z-index: 1

    @media ( min-width: $desktop )
        display: grid
        grid-template-columns: auto auto
        align-items: center
        justify-content: space-between

        position: relative

        padding: 3% 9%

        

        .welcome 
            display: block
            max-width: 87ch

            .title 
                font-size: 8rem
                font-family: 'Righteous', sans-serif

                span 
                    color: $c5
            .paragraph 
                font-family: 'Roboto Condensed', sans-serif
                font-size: 2rem
        .authenticationForms 
            height: 100%
            width: 430px

        .wave 
            display: block
            position: absolute
            bottom: 0

            z-index: 0
    