@import '/src/styles/variables/breakpoints'
    
.form 
    display: flex
    flex-direction: column
    align-items: baseline

    background: #fff
    width: 95%
    aspect-ratio: 1/1

    padding: 1.5rem

    border-radius: 16px

    .title 
        all: unset
        font-size: 1.5rem
        color: #777

        width: 100%
        padding: .5rem 0

        margin-bottom: 1rem

    
    .description
        display: flex
        align-items: flex-start
        gap: .25rem

        width: 100%
        flex: 1 

        margin-bottom: 1rem
    
        .textarea 
            height: 100%
            flex: 1

            outline: none

            resize: none
            border: none

            font-family: 'Roboto', sans-serif
            font-size: 1rem
            color: #777777
            font-weight: 500

            &::placeholder
                font-family: 'Roboto', sans-serif
                font-size: 1rem
                font-weight: 500
                color: #777777

    .saveTask 
        all: unset
        background: #FE9000
        padding: .3875rem 1rem

        align-self: flex-end

        font-size: 1.25rem
        color: #000

        border-radius: .5rem

        cursor: pointer

        transition: all .3s

        &:hover 
            background: #ffad41

        &:disabled
            opacity: .8
            cursor: wait

    @media ( min-width: $desktop )
        width: 50%
        max-height: 80vh

        .title 
            font-size: 2.5rem
        

        .description
            font-size: 1.25rem